.weekly-summary-modal
  .weekly-summary-modal__header
    h3 Summary for the week of:
      #displayLastMonday= displayLastMonday

  .weekly-summary-modal__general-summary
    .weekly-summary-modal__summary-detail
      .weekly-summary-modal__summary-label Tasks Created:
      .weekly-summary-modal__summary-value#tasksCreated= tasksCreated

    .weekly-summary-modal__summary-detail
      .weekly-summary-modal__summary-label Tasks Edited:
      .weekly-summary-modal__summary-value#tasksEdited= tasksEdited

    .weekly-summary-modal__summary-detail
      .weekly-summary-modal__summary-label Tasks completed:
      .weekly-summary-modal__summary-value#tasksCompleted= tasksCompleted

    .weekly-summary-modal__summary-detail
      .weekly-summary-modal__summary-label Tasks Total:
      .weekly-summary-modal__summary-value#tasksTotal= tasksTotal

  button.weekly-summary-modal__exit-button Exit
