extends ../layouts/authenticated-layout

mixin display( nodes, depth )
  each entry in nodes
    .item(data-id=entry.id)
      .heading(data-id=entry.id, data-completed=entry.completed)
        .completeToggle.glyphicon.glyphicon-ok(aria-hidden='true', data-id=entry.id, data-completed=entry.completed)
        a(href=`/items/${entry.id}`)
          .glyphicon.glyphicon-record(aria-hidden='true', data-id=entry.id, data-completed=entry.completed)
        .title(data-id=entry.id, data-completed=entry.completed, class={completed: entry.completed})
          span(data-id=entry.id)=entry.title
          input.edit-title.hidden(data-id=entry.id, type='text', name='edit-title', value=entry.title)
      .description(data-id=entry.id)
          span(data-id=entry.id)=entry.description
          input.edit-description.hidden(data-id=entry.id, type='text', name='edit-description', value=entry.description)
      .children
        +display( entry.children, depth + 1 )

block content
  h1 Items

  form(method='post', action='/items')
    .form-group
      input.form-control(type='text', name='title', placeholder='ToDo Title')
    .form-group
      input.form-control(type='text', name='description', placeholder='ToDo Description')
    .form-group
      label Select Parent
      select.form-control(data-style='btn', name='parent_id')
        each item in items
          option(value=`${item.id}`)= item.title

    button.btn.btn-primary(type='submit') Submit

  .breadcrumbs
    a(href=`/items/${breadcrumbs[0].id}`)= breadcrumbs[0].title

    each crumb in breadcrumbs.slice( 1, breadcrumbs.length - 1 )
      span.breadcrumbs &gt;
      a(href=`/items/${crumb.id}`)= crumb.title


  .root(data-id=root.id, class={completed: root.completed})
    .individual(data-id=root.id, data-completed=root.completed)
      h1.title(data-id=root.id, data-completed=root.completed)= root.title
    .description= root.description
  +display( tree, 0 )
