extends ../layouts/authenticated-layout

mixin display( nodes, depth )
  each entry in nodes
    .workpage__item(data-id=entry.id)
      .workpage__heading(data-id=entry.id, data-completed=entry.completed)
        .workpage__toggle.completeToggle.glyphicon.glyphicon-ok(aria-hidden='true', data-id=entry.id, data-completed=entry.completed)
          |&#9679;
        .workpage__title(data-id=entry.id, data-completed=entry.completed, class={completed: entry.completed})
          span(data-id=entry.id)=entry.title
          input.edit-title.item--hidden(data-id=entry.id, type='text', name='edit-title', value=entry.title)
      .workpage__description(data-id=entry.id)
          span(data-id=entry.id)=entry.description
          input.edit-description.item--hidden(data-id=entry.id, type='text', name='edit-description', value=entry.description)
      .workpage__children
        +display( entry.children, depth + 1 )

block content

    ol.breadcrumb
      li
        a(href=`/items/${breadcrumbs[0].id}`)= breadcrumbs[0].title

    each crumb in breadcrumbs.slice( 1, breadcrumbs.length - 1 )
      li
        a(href=`/items/${crumb.id}`)= crumb.title

  div
    .workpage
      .icon.icon__star
        | &#x2606;
      +display( tree, 0 )
      .workpage__footer
        .workpage__footer__content
          | Make lists, not war.
  hr
  form(method='post', action='/items')
    .form-group
      input.form-control(type='text', name='title', placeholder='ToDo Title')
    .form-group
      input.form-control(type='text', name='description', placeholder='ToDo Description')
    .form-group
      label Select Parent
      select.form-control(data-style='btn', name='parent_id')
        option(value='0') None
        each item in items
          option(value=`${item.id}`)= item.title

    button.btn.btn-primary(type='submit') Submit
