extends ../layouts/authenticated-layout

mixin textEntry( entry, depth )
  |#{`${" ".repeat( depth * 2 )}- ${entry.title}\n`}
  if( entry.description )
    |#{`${" ".repeat( depth * 2 + 2 )}"${entry.description}"`}

mixin displayText( nodes, depth )
  each entry in nodes
    +textEntry( entry, depth )
    +displayText( entry.children, depth + 1 )

mixin display( nodes, depth )
  each entry in nodes
    .item(data-id=entry.id)
      .item__heading(data-id=entry.id, data-completed=entry.completed)
        .item__toggle(aria-hidden='true', data-id=entry.id, data-completed=entry.completed)
          |&#9679;
        .item__title(data-id=entry.id, data-completed=entry.completed, class={completed: entry.completed})
          span(data-id=entry.id)=entry.title
          input.item__edit-title.item--hidden(data-id=entry.id, type='text', name='edit-title', value=entry.title)
      .item__description(data-id=entry.id)
          span(data-id=entry.id)=entry.description
          input.item__edit-description.item--hidden(data-id=entry.id, type='text', name='edit-description', value=entry.description)
      .item__children
        +display( entry.children, depth + 1 )

block content
  .modal
    include previewExport.pug
  div.main-page
    .work-page
      .work-page__main
        if (root.starred)
          .star(data-id=root.id, data-starred=`${root.starred}`)
            | &#x272e;
        else
          .star(data-id=root.id, data-starred=`${root.starred}`)
            | &#x2606;
        +display( tree, 0 )
      .work-page__footer
        .work-page__footer__content
          | Make lists, not war.
    .starred-view__HUD
      .starred-view__container

  hr
  form.form--add-item(method='post', action='/items')
    .form__header Add Items
    .form-group
      input.form__control(type='text', name='title', placeholder='ToDo Title')
    .form-group
      input.form__control(type='text', name='description', placeholder='ToDo Description')
    .form-group
      label.form__label Parent:
      select.form__control(data-style='btn', name='parent_id')
        each item in items
          option(value=`${item.id}`)= item.title

    button.btn.btn--primary(type='submit') Submit
