extends ../layouts/authenticated-layout

block content
  h1 Your weekly review

  p= `Bullets Completed: ${userStats.completed}`
  p= `You've used WorkFlowy for ${userStats.lengthOfUse} days.`
  p= `Bullets Created: ${userStats.created}`
  p= `Bullets Changed: ${userStats.changed} `
  p= `Total Bullets: ${userStats.total}`

  a.btn.btn-success(href="/items") Go to items
